@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300;400;700&display=swap');


.f-roboto {
    font-family: 'Roboto', Arial, sans-serif;
}

.f-roboto-mono {
    font-family: 'Roboto Mono', monospace;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
}

#lp-insider-talks {

    .navbar {
        background: #28285b;

        .nav-item {
            color: #fff;

            a {
                color: #fff;
            }
        }
    }

    header {
        background: url('../assets/bg-lp2x.jpg') center center / cover #551273;
        position: relative;

        &::after {
            content: '';
            width: 25px;
            height: 200px;
            position: absolute;
            background: url(../assets/powered_by_w.png) no-repeat center / contain;
            display: block;
            right: 20px;
            bottom: 0;
        }

        h2 {
            text-align: center;
            color: #fff;
            border: 1px solid #fff;
            font-size: 24px;
            font-family: 'Roboto Mono', monospace;
            border-radius: 50px;
            padding: 8px 0;
            margin: 16px 0 24px;

        }

        p {
            font-size: 1rem;
            font-family: 'Roboto', Arial, sans-serif;

            &.year-txt {
                font-family: 'Roboto Mono', Arial, Tahoma, sans-serif;
                font-size: 24px;
                text-align: center;
                margin: 4px 0;
            }
        }

        #header-intro-text {
            color: #fff;

            p {
                position: relative;
                padding: 0 0 40px 0;

                &::after {
                    content: '';
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    background: url(../assets/puntos-decoracion2x.png) no-repeat center / 100%;
                    display: block;
                    margin-bottom: 20px;
                    clear: both;
                    float: left;
                    bottom: -50px;
                }
            }
        }

        #countdown {
            margin: 40px auto;
            color: #ffff;

            li {
                display: inline-block;
                font-size: 1em;
                list-style-type: none;
                padding: 0;
                text-transform: uppercase;

                &.days {
                    padding-right: 24px;
                }
            }

            li span {
                display: flex;
                font-size: 4rem;
                font-weight: 700;
                align-items: center;
                justify-content: normal;

                &#hours::after,
                &#minutes::after {
                    content: ":";
                    text-align: center;
                }
            }
        }

        #head-top-logo {
            width: 100%;
            max-width: 320px;
            display: block;
            margin: 0px auto;
            text-align: center;
            position: relative;

            &::before {
                content: '';
                width: 50px;
                height: 50px;
                position: relative;
                background: url(../assets/puntos-decoracion2x.png) no-repeat center / 100%;
                display: block;
                margin-bottom: 20px;
                clear: both;
                float: right;
            }
        }

        .custom-cta {
            display: block;
            width: auto;
            min-width: 200px;
            margin: 0px auto;
            border-radius: 50px;
            text-align: center;
            opacity: 0.8;
            font-size: 18px;
            color: #571772;
            position: relative;

            &:hover,
            &:focus {
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    .img-container {
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    #all-info {
        background: url('../assets/bg-lp2x.jpg') center center / cover #551273;

        #bimx-logo {
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: normal;

            .img-container {
                width: 100%;
                max-width: 300px;
                display: block;

            }

            p {
                color: #fff;
                margin: 40px auto 20px;
                font-family: 'Roboto Mono', Arial, Tahoma, sans-serif;
            }

        }

        #bimx-features {
            color: #fff;

            .h4 {
                font-family: 'Roboto Mono', Arial, Tahoma, sans-serif;
                text-transform: uppercase;
                margin: 12px 0 4px;
                letter-spacing: 3px;
            }

            p {
                font-family: 'Roboto Mono', Arial, Tahoma, sans-serif;
                margin: 2px 0;
            }
        }

        .deco-img {
            display: none;
            clear: both;
            margin: 0px auto;
            width: 50%;
        }

    }

    #bimx-agenda-points {
        font-family: 'Roboto Mono', Arial, Tahoma, sans-serif;
        color: #52208a;
        position: relative;

        &::after {
            content: '';
            width: 25px;
            height: 200px;
            position: absolute;
            background: url(../assets/powered_by.png) no-repeat center / contain;
            display: block;
            right: 20px;
            bottom: 0;
        }

        h2 {
            letter-spacing: 10px;
            text-transform: uppercase;
            font-family: 'Roboto Mono', Arial, Tahoma, sans-serif;
        }

        #agenda-carousel-wrapper {
            text-align: center;
            width: 90%;
            max-width: 600px;
            margin: 0px auto;

            .agenda-points-carousel {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .slick-list.draggable {
                margin: 20px auto;
            }

            .slick-arrow {
                position: relative;
                margin: 20px auto;
                text-align: center;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: auto;
                float: none;
                position: static;

                &:before {
                    color: #52208a;
                    font-size: 2rem;
                    text-align: center;
                }

                &.slick-next {
                    transform: rotate(90deg);
                }

                &.slick-prev {
                    transform: rotate(90deg);
                }
            }


            .agenda-point-item {
                h3 {
                    font-size: 1.1rem;
                    letter-spacing: normal;
                    font-weight: 400;
                    text-align: center;
                    filter: blur(2px);
                    margin: 20px auto;
                }
            }

            .agenda-point-item.slick-slide:not(.slick-active) {
                h3 {
                    filter: blur(3px);
                    font-size: 1.1em;
                }

            }

            .agenda-point-item.slick-slide.slick-current.slick-active.slick-center {
                h3 {
                    font-size: 1.1rem;
                    filter: blur(0);
                    margin: 20px auto;
                }
            }
        }
    }

    #bimx-speakers {
        background: url('../assets/bg-lp2x.jpg') center center / cover #551273;
        color: #fff;
        position: relative;

        h2 {
            letter-spacing: 10px;
            text-transform: uppercase;
            font-family: 'Roboto Mono', Arial, Tahoma, sans-serif;
        }

        .speaker-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .speaker-img {
                width: 100%;
                max-width: 200px;
                border-bottom: 2px solid #fff;
                margin: 20px auto 20px auto;
                padding-bottom: 4px;
                position: relative;

                &::before {
                    content: '';
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    background: url(../assets/puntos-decoracion2x.png) no-repeat center / 100%;
                    display: block;
                    margin-bottom: 20px;
                    clear: both;
                    float: left;
                    left: -40px;
                    top: 100px;
                }
            }

            .speaker-name {
                font-family: 'Roboto Mono', Arial, Tahoma, sans-serif;
                font-size: 1.5rem;
                letter-spacing: normal;
                text-transform: none;
            }

            .speaker-titles {
                font-family: 'Roboto', Arial, sans-serif;
                font-size: 1rem;

            }

            .speaker-resume {
                font-family: 'Roboto', Arial, sans-serif;
                font-size: 1rem;
                margin: 50px auto 20px;
                width: 100%;
                max-width: 50%;
            }
        }

        .speakers-carousel-nav {


            .slick-track {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 300px;
            }

            .card-speaker {
                text-align: center;


                .img-container {
                    margin: 0 auto;
                    display: block;
                    width: 200px;
                }

                &.slick-slide:not(.slick-current) {
                    filter: blur(3px);
                }

                &.slick-slide.slick-current {
                    .img-container {
                        width: 220px !important;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }

    #bimx-podcasting {
        background: url('../assets/bg-lp2x.jpg') center center / cover #551273;
        color: #fff;
        position: relative;
        padding-bottom: 250px !important;

        &::after {
            content: '';
            width: 25px;
            height: 200px;
            position: absolute;
            background: url(../assets/powered_by_w.png) no-repeat center / contain;
            display: block;
            right: 20px;
            bottom: 0;
        }


        h2 {
            letter-spacing: 10px;
            text-transform: uppercase;
            font-family: 'Roboto Mono', Arial, Tahoma, sans-serif;

            &.main-title-section {
                position: relative;
                display: inline-block;

                &::before {
                    content: '';
                    width: 50px;
                    height: 50px;
                    position: relative;
                    background: url(../assets/puntos-decoracion2x.png) no-repeat center / 100%;
                    display: block;
                    margin-bottom: 20px;
                    clear: both;
                    float: right;
                }
            }
        }

        #podcast-carousel-wrapper {
            position: relative;

            button.slick-arrow {
                top: 0;
            }

            &::before {
                content: '';
                width: 50px;
                height: 50px;
                position: absolute;
                background: url(../assets/puntos-decoracion2x.png) no-repeat center / 100%;
                display: block;
                margin-bottom: 20px;
                clear: both;
                float: left;
                left: -20px;
                bottom: 30%;
                z-index: 1;
            }
        }

        .podcast-item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .podcast-title {
                font-family: 'Roboto Mono', Arial, Tahoma, sans-serif;
                font-size: 1.5rem;
                letter-spacing: normal;
                text-transform: uppercase;
            }

            .podcast-details {
                display: block;
                clear: both;
                text-align: center;

                h3 {
                    font-family: 'Roboto Mono', Arial, Tahoma, sans-serif;
                    letter-spacing: normal;
                    text-transform: uppercase;
                    font-size: 18px;
                }
            }

            .video-wrapper {
                background: #000;
                width: 100%;
                display: block;
                margin: 40px auto;
                position: relative;

                video {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    #bimx-articles {
        font-family: 'Roboto Mono', Arial, Tahoma, sans-serif;
        color: #52208a;
        position: relative;
        padding-top: 250px !important;

        #bimx-intro-img {
            position: relative;

            .img-container {
                width: 250px;
                margin: 0px auto;
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: auto;
                bottom: 0;
            }
        }

        .article-item {
            h2 {
                font-family: 'Roboto Mono', Arial, Tahoma, sans-serif;
                font-size: 1.3rem;
                margin-bottom: 16px;
            }

            .p-text {
                font-family: 'Roboto', Arial, sans-serif;
                font-size: 1rem;
            }
        }

        .article-img {
            display: block;
            margin: 20px auto 20px auto;
        }
    }

    #bimx-agenda-events {
        background: url('../assets/bg-lp2x.jpg') center center / cover #551273;
        font-family: 'Roboto Mono', Arial, Tahoma, sans-serif;
        color: #ffffff;
        position: relative;

        &::after {
            content: '';
            width: 25px;
            height: 200px;
            position: absolute;
            background: url(../assets/powered_by_w.png) no-repeat center / contain;
            display: block;
            right: 20px;
            bottom: 0;
        }

        h2 {
            letter-spacing: 10px;
            text-transform: uppercase;
            font-family: 'Roboto Mono', Arial, Tahoma, sans-serif;
        }

        .agenda-event {
            text-align: center;
            margin-bottom: 40px;

            h3 {
                font-family: 'Roboto Mono', Arial, Tahoma, sans-serif;
            }

            p {
                font-family: 'Roboto', Arial, sans-serif;
                font-size: 1rem;
            }
        }

        .sponsor-item {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: auto;
            margin: 0 12px;

            .img-container {
                width: 100%;
                max-width: 120px;
                display: block;
            }
        }
    }
}


@media all and (max-width: 768px) {

    .container.px-5 {
        padding: 0 1rem !important;
    }

    #lp-insider-talks {

        #countdown {
            margin: 40px auto;
            color: #ffff;

            li {
                display: inline-block;
                font-size: 0.8em;

                &.days {
                    padding-right: 18px;
                }
            }

            li span {
                display: flex;
                font-size: 3rem !important;

                &#hours::after,
                &#minutes::after {
                    content: ":";
                    text-align: center;
                }
            }
        }

        #all-info {
            .deco-img {
                display: block;
                clear: both;
                margin: 0px auto;
                width: 90%;
            }

        }

        #bimx-agenda-points {
            #agenda-carousel-wrapper {
                .agenda-point-item h3 {
                    filter: blur(0);
                }
            }
        }

        #bimx-speakers {
            .speaker-item {
                .speaker-resume {
                    max-width: 100%;

                }
            }

            .slick-prev.slick-arrow {
                left: -10px !important;
                z-index: 1;
            }

            .slick-next.slick-arrow {
                right: 0px !important;
                z-index: 1;
            }

            .slick-prev:before,
            .slick-next:before {
                font-size: 30px;
                color: #fff;
            }
        }


        #bimx-podcasting {

            .podcast-title {
                width: 95%;
                text-align: center;
                padding: 0 20px;
            }

            .podcast-carousel {
                .slick-arrow {
                    top: 15px;
                }

                .slick-next {
                    right: 0;
                }

                .slick-prev {
                    left: -15px;
                }

                .slick-prev:before,
                .slick-next:before {
                    font-size: 35px;
                    color: #fff;
                }
            }


        }




    }

}